.container{
  padding: 15px;
  
}

.main-form{
  border: .5px solid black;
  border-radius: 15px;
  padding: 15px
}

.chart-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.ages-chart{
  grid-column: 1 / 4;
}